<div class="row text-center" ng-controller="userChooseController">
	<div class="col-xs-12">
		<h1>Choose your username to login</h1>
	</div>
	<div class="col-xs-12" ng-show="userList.length < 1">
		<p>No users found.</p>
		<a ui-sref="adduser">Please create a new user to log in.</a>
	</div>
	<div class="col-xs-12" ng-show="userList.length > 0">
		<div class="btn-group" uib-dropdown dropdown-append-to-body>
      <button id="btn-append-to-body" type="button" class="btn btn-default" uib-dropdown-toggle>
        Choose user <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ng-repeat="user in userList"><a href="#" ng-click="chooseUser()">{{ user }}</a></li>
      </ul>
    </div>
	</div>
	<div class="col-xs-12" ng-show="userChosen">
		<form novalidate ng-submit="userChooseLogin()">
			<div class="form-group">
				<h2>{{ chosenUser }}</h2>
			</div>
    	<div class="form-group">
    		<label for="user-chosen-password">Enter your Password</label>
    		<input id="user-chosen-password" type="password" name="userChoosePass" ng-model="userchoose.password">
    		<p ng-show="loginfail">Your credentials are incorrect.</p>
    	</div>
    	<div class="form-group">
    		<button class="btn btn-primary" type="submit">Login</button>
    	</div>
    </form>
	</div>
	<div class="col-xs-12">
		<a ui-sref="home">Go Back</a>
	</div>
</div>