<div class="row text-center" ng-controller="newUserController">
	<div class="col-xs-12">
		<h2>New User</h2>
	</div>
	<div class="col-xs-12">
		<form name="userForm" novalidate ng-submit="addUser()">
			<div class="form-group">
				<label for="username">Enter your name</label>
				<input id="username" name="user" type="text" ng-model="user.name" ng-model-options="{debounce: 800}" ng-minlength="2" required user-check>
				<p ng-show="userForm.user.$error.minlength && !userForm.user.$pristine" class="help-block">Username needs to be at least 2 characters long.</p>
				<p ng-show="userForm.user.$error.userCheck && !userForm.user.$pristine">Username is already taken. Please choose another.</p>
			</div>
			<div class="form-group">
				<label for="password">Enter your password</label>
				<input type="password" name="pass" ng-model="user.password"  ng-model-options="{debounce: 800}" ng-minlength="5" required>
				<p ng-show="userForm.pass.$error.minlength" class="help-block">Your password needs to be at least 5 characters long.</p>
			</div>
			<div class="form-group">
				<label for="password_confirm">Confirm your password</label>
				<input type="password" name="passconf" ng-model="user.confirmPassword" ng-model-options="{debounce: 800}" required compare-to="user.password">
				<p ng-show="userForm.passconf.$error.compareTo && !userForm.passconf.$pristine">Passwords must match.</p>
			</div>
			<button type="submit" ng-disabled="userForm.$invalid">Click to add user</button>
		</form>
	</div>
	<div class="col-xs-12">
		<a ui-sref="home">Go Back</a>
	</div>
</div>